.aboutsec {
  background: linear-gradient(180deg, #fbfbfd 0%, #eeeef0 100%);
}

.aboutheading {
  position: absolute;
  width: 350px;
  height: 190px;

  top: 394px;

  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: lighter;
  font-size: 79px;
  line-height: 95px;
  text-transform: uppercase;

  color: #0c1f30;
}
.aboutheading2 {
  position: absolute;
  width: 350px;
  height: 190px;

  top: 465px;

  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: 600;
  font-size: 79px;
  line-height: 95px;
  text-transform: uppercase;

  color: #0c1f30;
}
.abt-dis {
  position: absolute;
  width: 173.6px;
  height: 48px;
  top: 580px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 200%;

  color: #88888c;
}
.line {
  position: absolute;
  width: 400px;
  height: 0px;

  top: 626px;

  border: 1.5px solid #88888c;
}
.abt-para {
  position: absolute;
  width: 241px;
  height: 199px;
  left: 162px;
  top: 657px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;

  text-align: right;

  color: #6e6e73;
}
.abtimg {
  position: absolute;
  width: 699px;
  height: 703px;

  top: 355px;
}

/* media queries */
@media (max-width: 992px) {
  .aboutheading,
  .aboutheading2 {
    margin-top: 50px;
  }
  .abt-dis,
  .line {
    margin-top: 30px;
  }
  .abt-para {
    margin-top: 30px;
  }
  .abtimg {
    margin-top: 530px;
    margin-left: -138px;
  }
}
