.our {
  position: absolute;
  width: 141px;
  height: 60px;
  top: 170px;
  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;

  text-transform: uppercase;

  color: #0c1f30;
}
.pro {
  position: absolute;
  width: 141px;
  height: 60px;
  top: 218px;
  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 60px;

  text-transform: uppercase;

  color: #0c1f30;
}
#value2 {
  position: absolute;
  width: 198px;
  height: 20px;
  top: 16px;
  left: 152px;
  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-transform: lowercase;

  color: #c49a50;
}
.parap {
  position: absolute;
  top: 295px;
}
.carousel {
  position: relative;
  top: 237px;
}
