.service-heading {
  position: absolute;
  width: 532px;
  height: 200px;
  left: -5px;
  top: 1280px;

  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: 300;
  font-size: 83px;
  line-height: 100px;
  text-transform: uppercase;

  color: #0c1f30;
}
.services-heading2 {
  position: absolute;
  width: 532px;
  height: 200px;
  left: -5px;
  top: 1356px;
  font-family: "Sackers Gothic Std";
  font-style: normal;
  font-weight: 600;
  font-size: 83px;
  line-height: 100px;
  text-transform: uppercase;

  color: #0c1f30;
}
.serviceimg {
  position: absolute;
  width: 810px;
  height: 285px;
  left: 2px;
  top: 1170px;
  border-radius: 0px 0px 0px 142.5px;
}
.servehead {
  position: absolute;
  top: 1533px;
  border-bottom: 1px solid grey;
}
.servepara {
  position: absolute;
  top: 1590px;
}
.servehead,
.servepara {
  padding: 0px 5px;
}
/* media queries */
@media (min-width: 320px) and (max-width: 600px) {
  .serviceimg {
    margin-top: 650px;
    width: 572px;
  }
  .service-heading {
    margin-top: 300px;
    font-size: 60px;
    text-align: center;
  }
  .services-heading2 {
    margin-top: 300px;
    font-size: 65px;
    text-align: center;
  }
}
