@import url(./reset.css);
@import url(./components.css);


/* navbar */ 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem 0;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul li a{
   padding: 0 1rem;
}

.header nav ul li a:hover,
.header nav ul li a:active {
   color: var(--yellow);
}

/* Banner Section */ 
.banner__section {
    height: 100vh;
}
.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}